body {
  background: #ebda8c; }

header {
  background: #e3c13c; }
  header #logo {
    font-family: Papyrus, fantasy; }

h1 {
  font-family: "American Typewriter" Times serif; }

nav li {
  font-family: Papyrus, fantasy;
  /* background: $pale-yellow; */ }

nav {
  background: #ebda8c; }

nav a {
  text-decoration: none; }

nav li a:visited, nav a:link, nav a:active {
  color: #000000;
  text-decoration: none; }

.content a img {
  outline: 4px solid black;
  margin: 1%; }

.content {
  text-align: center;
  margin-top: 2%; }

aside {
  display: none; }

aside.is-expanded {
  display: block; }
